#google {
    font-size: 20px;
    color: black;
}

.box {
    width: 100px;
    height: 100px;
    background-color: gold;
    transition: 3s;
}

/* centred so boxes did not overlap */
#centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* pseudo classes */
#google:hover {
    font-size: 30px;
}
#google:visited {
    color: silver;
}

.box:hover {
    width: 200px;
    height: 200px;
    background-color: #cd7f32;
    margin-left: 100px;
}

/* transform 
degree can be between -360 to 360*/
#box2 {
    transform: rotate(45deg);
}
#box3 {
    transform: skew(10deg);
}

/* scale value is (x(width), y(height)
can do scaleX or Y to only target one value*/
#box4 {
    transform: scale(2,3);
}

/* translate value same as scale
cab do translateX or Y to only target one value*/
#box5:hover {
    transform: translate(20px, 50px);
}

/* can do multiple transforms, code needs to be on same line */
#box6:hover {
    transform: scale(2,2) rotate(135deg)
}

/* keyframes */
#box7:hover{
    animation-name: colorful-text;
    animation-duration: 5s;
}

@keyframes colorful-text {
    0% {
        background-color: red;
    }
    20% {
        background-color: orange;
        width: 150px;
    }
    40% {
        background-color: yellow;
    }
    60% {
        background-color: green;
    }
    80% {
        background-color: royalblue;
        width: 150px;
    }
    100% {
        background-color: rebeccapurple;
    }
}

#box8 {
    animation-name: colorful-text;
    animation-duration: 2s;
}

/* can also do from and to keyframes for simplier animations */
/* commenting out this keyframe until can find a solution of using two diff keyframes under one css file */
/* @keyframes colorful-text {
    from {
        background-color: cornflowerblue;
    }
    to {
        background-color: #54c2c2;
    }
} */